<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <bean id="creditCardPaymentService" class="com.dexterBlaze.PayMeNow.CreditCardPaymentService"/>
    <bean id="payPalPaymentService" class="com.dexterBlaze.PayMeNow.PayPalPaymentService"/>
    <bean id="bankTransferPaymentService" class="com.dexterBlaze.PayMeNow.BankTransferPaymentService"/>

</beans>